.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-login {
  background-color: white !important; /* Use !important as a last resort */
  color: #EF7B22 !important;
  border: 1px solid #EF7B22 !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
}

.btn-register {
  background-color: #EF7B22 !important; /* White background */
  color: white !important; /* Text color matches the stroke color */
  border: none !important; /* 1px stroke of #EF7B22 */
  border-radius: 4px !important; /* Rounded corners with 8px radius */
  padding: 10px 20px !important; /* Add padding */
  text-decoration: none !important; /* Remove underline */
}

.purple-text {
  background: linear-gradient(to right, #4A3697, #5828E0, #473887) !important;
  -webkit-background-clip: text !important; /* For Safari */
  background-clip: text !important;
  color: transparent !important;
}

.large-text {
  font-size: 4.5rem !important;
  font-weight: 700 !important;
}

.bold-text {
  font-weight: 700 !important;
}

.custom-container {
  /* max-width: 800px !important; */
  width: 100% !important; /* Optional: ensures the container is responsive */
}

.inner-container {
  box-shadow: 0 6px 12px rgba(72, 38, 151, 0.2);  /* Slight purple shadow with more spread */
}

.footer-container {
  background: linear-gradient(135deg, #5A27E7, #493989); /* Purple Gradient */
  color: white; /* Ensures text remains readable */
}

.footer-strip {
  border-top: 1px solid rgb(196, 196, 196);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-anim {
  animation: fadeInUp 1s ease-out forwards;
}

body {
  background: linear-gradient(to bottom, #FFFFFF 0%, #EBE9FB 25%, #FFFFFF 50%, #EBE9FB 75%, #FFFFFF 100%);
}

.social-icon {
  color: white;
}

@media (max-width: 768px) {
  .navbar-brand img {
      width: 80px !important;
  }
}

@media (max-width: 768px) {
  .large-text {
      font-size: 2.5rem !important; /* Adjust as needed */
  }
}
@media (max-width: 576px) {
  .large-text {
      font-size: 2rem !important;
  }
}

@media (max-width: 768px) {
  .custom-container {
      max-width: 85vw !important;
  }
}

/* Increase horizontal padding on mobile */
@media (max-width: 768px) {
  .footer-container {
      padding-left: 2%;
      padding-right: 2%;
  }
}

/* Reduce logo size on mobile */
@media (max-width: 768px) {
  .logo-img {
      width: 120px; /* Adjust as needed */
  }
}

/* Reduce text size of links in the second footer */
.footer-link {
  font-size: 0.85rem; /* Smaller text */
}

.footer-copyright {
  font-size: 0.8rem; /* Smaller text */
}

.rich-text {
  text-align: left;
}